<div class="container px-5 px-sm-0 pt-3">
  <div class="row">
    <%= render "books/left", book:@book, user_id:@user_id %>
    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>

      <table class="table">
        <tr>
          <th>image</th>
          <th>name</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <% @users.each do |user| %>
        <tr>
          <td>
            <%= attachment_image_tag user, :profile_image, size: "30x30", format:'jpeg', fallback:"no_image.jpg" %>
          </td>
          <td>
            <%= link_to user_path(user.id) do %>
              <%= user.name %>
            <% end %>
          </td>
          <td>
            <%= link_to show_following_user_path(user) do %>
              <%= user.followings.count %> Following
            <% end %>
          </td>
          <td>
            <%= link_to show_following_user_path(user) do %>
              <%= user.followers.count %> Followers
            <% end %>
          </td>
          <% if signed_in? && current_user != user %>
            <% if current_user.following?(user) %>
              <td><%= link_to 'Unfollow', relationship_path(current_user.relationships.find_by(follower: user)),method: :delete,class: "btn  btn-sm btn-outline-info" %></td>
            <% else %>
              <td><%= link_to 'Follow', relationships_path(follower: user),method: :post, class: "btn btn-sm btn-info" %></td>
            <% end %>
          <% else %>
            <td></td>
          <% end %>
        </tr>
        <% end %>
      </table>
      <%= paginate @users %>
    </div>
  </div>
</div>